:root {
  --darkBlue: hsl(240, 38%, 20%);
  --grayishBlue: hsl(240, 18%, 77%);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/pattern-curve.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px 25px 0 25px;
}

.quote-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.img-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/pattern-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-div img {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 5;
  box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
  position: absolute;
  top: 45%;
  transform: translateX(0);
}

#left {
  padding-right: 12.5px;
}

#right {
  padding-left: 12.5px;
}

.quote {
  font-weight: 300;
  padding: 10px 0 50px 0;
  background-image: url("images/pattern-quotes.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  color: var(--darkBlue);
}

.quote p {
  padding-top: 30px;
}

.author {
  font-weight: 700;
  padding-bottom: 45px;
}

.author span {
  font-weight: 500;
  color: var(--grayishBlue);
  display: block;
}


@media (min-width: 800px) {

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-curve.svg);
    background-position: bottom;
    background-size: 100% 140px;
    background-repeat: no-repeat;
    padding: 50px;
  }

  .img-div {
    width: 100%;
    height: 100%;
    margin-left: -300px;
    z-index: -1;
    background-size: 500px;
  }

  .quote-container {
    display: flex;
    flex-direction: row;
  }

  .img-div img {
    width: 80%;
    height: 100%;
    padding: 100px;
  }

  .quote {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px;
    background-position: 10% top;
    line-height: 1.1;
  }

  .quote p {
    font-size: 32px;
  }

  .author {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
  }

  .author span {
    padding-left: 5px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 73%;
    transform: translateX(170%);
  }

}
